### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Build
target/

# Logs
logs/
*.log

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Maven Wrapper Cache
.mvn/wrapper/maven-wrapper.jar

# Generated
out/

# Docker
docker-data/
postgres-data/

# Temporary Files
*.tmp
*.temp

#VS Code
.vscode/